<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>关于</title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/font-awesome.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/about.css" rel="stylesheet">
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/style.js"></script>

</head>
<body>
<a href="#" id="top"><i class="fa fa-angle-up"></i></a>
<div class="container-fluid">
    <div class="header row">
        <div class="logo"><img src="../images/1474476017.jpg"></div>
        <div class="nav hidden-sm hidden-xs">
            <ul>
                <li><a href="../index.html">首页</a></li>
                <li><a href="product.html">产品</a></li>
                <li><a href="information.html">资讯</a></li>
                <li class="nav_a"><a href="about.html">关于</a></li>
                <li><a href="case.html">案例</a></li>
                <li><a href="contact.html">联系</a></li>
            </ul>
        </div>
        <div class="nav2 hidden-lg hidden-md">
            <i class="fa fa-align-justify"></i>
        </div>
        <div class="submenu hidden-lg hidden-md">
            <ul>
                <li><a href="../index.html">首页</a></li>
                <li><a href="product.html">产品</a></li>
                <li><a href="information.html">资讯</a></li>
                <li class="active"><a href="about.html">关于</a></li>
                <li><a href="case.html">案例</a></li>
                <li><a href="contact.html">联系</a></li>
            </ul>
        </div>

    </div>
    <div class="banner row">
        <div class="col-xs-12"></div>
    </div>
    <div class="main">
        <div class="row">
            <h3>关于食品之家</h3>
            <p>
                我司是零食点心、乳制品、汤羹、肉蛋类等产品的经销批发的个体经营！<br>
                产品在消费者当中享有较高的地位，公司与多家零售商和代理商建立了长期稳定的合作关系。<br>
                食品之家坐落于“中国制造重镇” —— 广东省揭阳市。
            </p>
        </div>
        <div class="line row">
            <div class="col-xs-12">
                <img src="../images/1470041427742040.jpg">
            </div>
        </div>
        <div class="bot1 row">
            <h3>关于食品之家</h3>
            <p>
                我司是零食点心、乳制品、汤羹、肉蛋类等产品的经销批发的个体经营！<br>
                产品在消费者当中享有较高的地位，公司与多家零售商和代理商建立了长期稳定的合作关系。<br>
                食品之家坐落于“中国制造重镇” —— 广东省揭阳市。
            </p>
            <img src="../images/thumb14.jpg">
        </div>

    </div>
    <div class="bot row">
        <div class="col-xs-12">
            <div class="left"><p>Powered by MetInfo 5.3.10</p></div>
            <div class="right">
                <p>食品之家 版权所有 2008-2016 粤ICP备0123456789-1 </p>
                <i class="fa fa-weixin"><img src="../images/1422258610.jpg"> </i>
                <i class="fa fa-qq"></i>
                <i class="fa fa-weibo"></i>
            </div>
        </div>
    </div>
</div>

</body>
</html>