<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>案例</title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/font-awesome.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/case.css" rel="stylesheet">
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/style.js"></script>
</head>
<body>
<a href="#" id="top"><i class="fa fa-angle-up"></i></a>
<div class="container-fluid">
    <div class="header row">
        <div class="logo"><img src="../images/1474476017.jpg"></div>
        <div class="nav hidden-sm hidden-xs">
            <ul>
                <li><a href="../index.html">首页</a></li>
                <li><a href="product.html">产品</a></li>
                <li><a href="information.html">资讯</a></li>
                <li><a href="about.html">关于</a></li>
                <li class="nav_a"><a href="case.html">案例</a></li>
                <li><a href="contact.html">联系</a></li>
            </ul>
        </div>
        <div class="nav2 hidden-lg hidden-md">
            <i class="fa fa-align-justify"></i>
        </div>
        <div class="submenu hidden-lg hidden-md">
            <ul>
                <li><a href="../index.html">首页</a></li>
                <li><a href="product.html">产品</a></li>
                <li><a href="information.html">资讯</a></li>
                <li><a href="about.html">关于</a></li>
                <li class="active"><a href="case.html">案例</a></li>
                <li><a href="contact.html">联系</a></li>
            </ul>
        </div>

    </div>
    <div class="banner row">
        <div class="col-xs-12"></div>
    </div>
    <div class="main row">
        <div class="col-md-6 col-xs-12">
            <img src="../images/banner_1.jpg">
            <div class="outer">
                <p>2016-09-26</p>
                <h4>水果夹心饼干</h4>
                <a>浏览</a>
            </div>
            <div class="outer_bg"></div>
        </div>
        <div class="col-md-6 col-xs-12">
            <img src="../images/banner_3.jpg">
            <div class="outer">
                <p>2016-09-22</p>
                <h4>蓝色玫瑰甜甜圈</h4>
                <a>浏览</a>
            </div>
            <div class="outer_bg"></div>
        </div>
        <div class="col-md-6 col-xs-12">
            <img src="../images/banner_2.jpg">
            <div class="outer">
                <p>2016-09-26</p>
                <h4>水果蛋挞</h4>
                <a>浏览</a>
            </div>
            <div class="outer_bg"></div>
        </div>
        <div class="col-md-6 col-xs-12">
            <img src="../images/1474442919.jpg">
            <div class="outer">
                <p>2016-09-22</p>
                <h4>午休休闲甜心糕点</h4>
                <a>浏览</a>
            </div>
            <div class="outer_bg"></div>
        </div>
        <div class="col-md-6 col-xs-12">
            <img src="../images/1474442575.jpg">
            <div class="outer">
                <p>2016-09-22</p>
                <h4>美味水果披萨</h4>
                <a>浏览</a>
            </div>
            <div class="outer_bg"></div>
        </div>
        <div class="col-md-6 col-xs-12">
            <img src="../images/1474438255.jpg">
            <div class="outer">
                <p>2016-09-22</p>
                <h4>精美欧式甜点</h4>
                <a>浏览</a>
            </div>
            <div class="outer_bg"></div>
        </div>
    </div>
    <div class="popup row">
        <div class="col-md-10 col-md-offset-1 col-xs-12">
            <img src="../images/banner_1.jpg">
            <h4>水果夹心饼干</h4>
            <a>×</a>
        </div>
    </div>
    <div class="bot row">
        <div class="col-xs-12">
            <div class="left"><p>Powered by MetInfo 5.3.10</p></div>
            <div class="right">
                <p>食品之家 版权所有 2008-2016 粤ICP备0123456789-1 </p>
                <i class="fa fa-weixin"><img src="../images/1422258610.jpg"> </i>
                <i class="fa fa-qq"></i>
                <i class="fa fa-weibo"></i>
            </div>
        </div>
    </div>
</div>

</body>
</html>