<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>联系</title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/font-awesome.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/contact.css" rel="stylesheet">
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/style.js"></script>

</head>
<body>
<a href="#" id="top"><i class="fa fa-angle-up"></i></a>
<div class="container-fluid">
    <div class="header row">
        <div class="logo"><img src="../images/1474476017.jpg"></div>
        <div class="nav hidden-sm hidden-xs">
            <ul>
                <li><a href="../index.html">首页</a></li>
                <li><a href="product.html">产品</a></li>
                <li><a href="information.html">资讯</a></li>
                <li><a href="about.html">关于</a></li>
                <li><a href="case.html">案例</a></li>
                <li class="nav_a"><a href="contact.html">联系</a></li>
            </ul>
        </div>
        <div class="nav2 hidden-lg hidden-md">
            <i class="fa fa-align-justify"></i>
        </div>
        <div class="submenu hidden-lg hidden-md">
            <ul>
                <li><a href="../index.html">首页</a></li>
                <li><a href="product.html">产品</a></li>
                <li><a href="information.html">资讯</a></li>
                <li><a href="about.html">关于</a></li>
                <li><a href="case.html">案例</a></li>
                <li class="active"><a href="contact.html">联系</a></li>
            </ul>
        </div>

    </div>
    <div class="banner row">
        <div class="col-xs-12"></div>
    </div>
    <div class="main">
        <div class="title row">
            <h3>联系 · 食品之家</h3>
        </div>
        <div class="content row">
            <div class="col-md-6 col-xs-10 col-xs-offset-1">
                <img src="../images/1474438255.jpg">
            </div>
            <div class="col-md-4 col-xs-10 col-xs-offset-1 col-md-offset-0">
                <h4>食品之家有限公司</h4>
                <p><i class="fa fa-map-marker"></i> 地址：广东揭阳人民政府左侧酒店五楼</p>
                <p><i class="fa fa-print"></i>手机：13751695401 / 12345678901</p>
                <p><i class="fa fa-envelope"></i>邮箱：writeyouremail@domain.com</p>
                <p><i class="fa fa-phone"></i>电话：+86-0663-8654321</p>
                <p><i class="fa fa-codepen"></i>邮编：522000</p>
            </div>
        </div>

    </div>
    <div class="bot row">
        <div class="col-xs-12">
            <div class="left"><p>Powered by MetInfo 5.3.10</p></div>
            <div class="right">
                <p>食品之家 版权所有 2008-2016 粤ICP备0123456789-1 </p>
                <i class="fa fa-weixin"><img src="../images/1422258610.jpg"> </i>
                <i class="fa fa-qq"></i>
                <i class="fa fa-weibo"></i>
            </div>
        </div>
    </div>
</div>

</body>
</html>