<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>资讯</title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/font-awesome.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/information.css" rel="stylesheet">
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/style.js"></script>

</head>
<body>
<a href="#" id="top"><i class="fa fa-angle-up"></i></a>
<div class="container-fluid">
    <div class="header row">
        <div class="logo"><img src="../images/1474476017.jpg"></div>
        <div class="nav hidden-sm hidden-xs">
            <ul>
                <li><a href="../index.html">首页</a></li>
                <li><a href="product.html">产品</a></li>
                <li class="nav_a"><a href="information.html">资讯</a></li>
                <li><a href="about.html">关于</a></li>
                <li><a href="case.html">案例</a></li>
                <li><a href="contact.html">联系</a></li>
            </ul>
        </div>
        <div class="nav2 hidden-lg hidden-md">
            <i class="fa fa-align-justify"></i>
        </div>
        <div class="submenu hidden-lg hidden-md">
            <ul>
                <li><a href="../index.html">首页</a></li>
                <li><a href="product.html">产品</a></li>
                <li class="active"><a href="information.html">资讯</a></li>
                <li><a href="about.html">关于</a></li>
                <li><a href="case.html">案例</a></li>
                <li><a href="contact.html">联系</a></li>
            </ul>
        </div>

    </div>
    <div class="banner row">
        <div class="col-xs-12"></div>
    </div>
    <div class="main row">
        <ul class="col-md-8 col-xs-offset-1 col-xs-10">
            <li class="row">
                <img class="col-xs-2" src="../images/thumb13.jpg">
                <div class="col-xs-10">
                    <a title="记忆中的菌菇汤，你怀念吗？">记忆中的菌菇汤，你怀念吗？</a>
                    <p class="hidden-xs">
                        小时候，常听奶奶说，“冬吃萝卜，夏吃姜，一年四季喝菌汤”。我以前只知道菌菇汤很好喝，
                        长大了才知道菌菇汤不止好喝，原来还有很高的营养价值。今天，
                        就让天天营养小编和大家一起来学学怎么做出美味的菌菇汤吧！蘑菇有什么营养价值？据研究表明，
                        蘑菇中，富含着十八种氨基酸物...
                    </p>
                    <span>2016-09-21</span><span>admin</span><span><i class="fa fa-eye"></i> 62</span>
                </div>
            </li>
            <li class="row">
                <img class="col-xs-2" src="../images/thumb15.jpg">
                <div class="col-xs-10">
                    <a title="炒青豆，饭桌上的一抹绿！">炒青豆，饭桌上的一抹绿！</a>
                    <p class="hidden-xs">
                        青豆，也叫豌豆，是日常生活中一种十分常见的菜品。青豆功效众多，味道和口感都不错，有多种烹饪方法。
                        今天，天天营养小编就为大家介绍几种炒青豆的方法，大家一起来学学吧！一、青豆有什么营养价值？
                        豆类都是营养很丰富的，青豆也不例外，它能起到健脑的...
                    </p>
                    <span>2016-09-21</span><span>admin</span><span><i class="fa fa-eye"></i> 17</span>
                </div>
            </li>
            <li class="row">
                <img class="col-xs-2" src="../images/thumb16.jpg">
                <div class="col-xs-10">
                    <a title="食欲食欲快回来，夏季开胃小菜炒香菇">食欲食欲快回来，夏季开胃小菜炒香菇</a>
                    <p class="hidden-xs">
                        夏季往往是大家食欲不振的季节，酷暑难耐平时热爱的食物渐渐变得越来越吃不下去，油腻的东西更是难以下咽，
                        今天天天营养的小编将为大家带来一款夏季素食——炒香菇。
                        一、中国特产、世界第二大食用菌——香菇营养价值高香菇是世界第二大食用菌也是我国特产之一，在民间...
                    </p>
                    <span>2016-09-21</span><span>admin</span><span><i class="fa fa-eye"></i> 14</span>
                </div>
            </li>
            <li class="row">
                <img class="col-xs-2" src="../images/thumb17.jpg">
                <div class="col-xs-10">
                    <a title="素食大全送你一篇全攻略，消暑解热之食就靠它！">素食大全送你一篇全攻略，消暑解热之食就靠它！</a>
                    <p class="hidden-xs">
                        炎热夏季已然进入三伏的末伏天了，秋老虎已经是最后的强弩之弓了，但仍然高深呼啸着它的不甘心，
                        天气是无法言说的闷热，全国各地的人们为这个恼人的天气无可奈何，却又没法，可谓是历年来最炎热的秋季也不为过。
                        连小编的家乡，号称天府之国的成都也无能幸免，天热的只想呆在空调房...
                    </p>
                    <span>2016-09-21</span><span>admin</span><span><i class="fa fa-eye"></i> 12</span>
                </div>
            </li>
            <li class="row">
                <img class="col-xs-2" src="../images/thumb18.jpg">
                <div class="col-xs-10">
                    <a title="芋头蒸多长时间才好吃？农村野味就要这样吃">记忆中的菌菇汤，你怀念吗？</a>
                    <p class="hidden-xs">
                        芋头相信大家都吃过，因为芋头含有丰富的维生素和人体所需的微量元素，深受人们的喜爱。
                        儿时的我对这样的美味实在难以抵抗，你呢？那你知道芋头蒸多长时间？怎样做才能更好的展现它的美味呢，
                        现在和天天营养小编一起聊聊那些年我们吃过的美味食物—芋头吧。一、其貌不...
                    </p>
                    <span>2016-09-21</span><span>admin</span><span><i class="fa fa-eye"></i> 5</span>
                </div>
            </li>
            <li class="row">
                <img class="col-xs-2" src="../images/thumb19.jpg">
                <div class="col-xs-10">
                    <a title="潮州菜系的一朵奇葩，橄榄菜的做法你知道多少">潮州菜系的一朵奇葩，橄榄菜的做法你知道多少</a>
                    <p class="hidden-xs">
                        橄榄菜的做法工艺可以源远流长，可以追溯到宋代，“清、鲜、爽、嫩、滑”等特点让橄榄菜深受大众的喜爱，
                        可说是名闻遐迩的潮州菜系中的一朵奇葩。色泽乌艳、油香浓郁、美味诱人的橄榄菜也是潮汕人日常居家的小菜美食。
                        那么橄榄菜的做法到底有哪些呢?下面天天营养小编...
                    </p>
                    <span>2016-09-21</span><span>admin</span><span><i class="fa fa-eye"></i> 9</span>
                </div>
            </li>
            <li class="row">
                <img class="col-xs-2" src="../images/thumb20.jpg">
                <div class="col-xs-10">
                    <a title="9款超级美味又营养的粗粮粥，健康身体全靠吃粗粮！">9款超级美味又营养的粗粮粥，健康身体全靠吃粗粮！</a>
                    <p class="hidden-xs">
                        多吃五谷杂粮，有益身体健康，五谷杂粮也就是我们常说的粗粮。每天一碗粗粮粥，不仅能为人体补充多种营养，
                        还能有效预防慢性疾病，达到延年益寿的目的。但是，粗粮有这么多，怎么样搭配才能既美味又营养呢？下面，
                        天天营养网小编就来为大家介绍几种粗粮粥的养生搭配，...
                    </p>
                    <span>2016-09-21</span><span>admin</span><span><i class="fa fa-eye"></i> 62</span>
                </div>
            </li>
        </ul>
        <div class=" right col-md-2  col-xs-offset-1 col-md-offset-0 col-xs-10">
            <div class="search">
                <input type="text"  placeholder="Search"><i  class="fa fa-search"></i>
            </div>
            <div class="text">
                <h4>为您推荐</h4>
                <ul>
                    <li><a title="记忆中的菌菇汤，你怀念吗？">记忆中的菌菇汤，你怀念吗？</a></li>
                    <li><a title="炒青豆，饭桌上的一抹绿！">炒青豆，饭桌上的一抹绿！</a></li>
                    <li><a title="食欲食欲快回来，夏季开胃小菜炒香菇">食欲食欲快回来，夏季开胃小菜炒香菇</a></li>
                    <li><a title="素食大全送你一篇全攻略，消暑解热之食就靠它！">素食大全送你一篇全攻略，消暑解热之食就靠它！</a></li>
                    <li><a title="芋头蒸多长时间才好吃？农村野味就要这样吃">芋头蒸多长时间才好吃？农村野味就要这样吃</a></li>
                </ul>
            </div>
            <p><a title="所有文章">所有文章</a></p>
            <p><a title="公司新闻">公司新闻</a></p>
            <p><a title="行业资讯">行业资讯</a></p>
        </div>
    </div>
    <div class="bot row">
        <div class="col-xs-12">
            <div class="left"><p>Powered by MetInfo 5.3.10</p></div>
            <div class="right">
                <p>食品之家 版权所有 2008-2016 粤ICP备0123456789-1 </p>
                <i class="fa fa-weixin"><img src="../images/1422258610.jpg"> </i>
                <i class="fa fa-qq"></i>
                <i class="fa fa-weibo"></i>
            </div>
        </div>
    </div>
</div>

</body>
</html>