<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>产品</title>
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/font-awesome.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/product.css" rel="stylesheet">
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/script.js"></script>
    <script src="../js/style.js"></script>
    <script src="../js/product.js"></script>

</head>
<body>
<a href="#" id="top"><i class="fa fa-angle-up"></i></a>
<div class="container-fluid">
    <div class="header row">
        <div class="logo"><img src="../images/1474476017.jpg"></div>
        <div class="nav hidden-sm hidden-xs">
            <ul>
                <li><a href="../index.html">首页</a></li>
                <li class="nav_a"><a href="product.html">产品</a></li>
                <li><a href="information.html">资讯</a></li>
                <li><a href="about.html">关于</a></li>
                <li><a href="case.html">案例</a></li>
                <li><a href="contact.html">联系</a></li>
            </ul>
        </div>
        <div class="nav2 hidden-lg hidden-md">
            <i class="fa fa-align-justify"></i>
        </div>
        <div class="submenu hidden-lg hidden-md">
            <ul>
                <li><a href="../index.html">首页</a></li>
                <li class="active"><a href="product.html">产品</a></li>
                <li><a href="information.html">资讯</a></li>
                <li><a href="about.html">关于</a></li>
                <li><a href="case.html">案例</a></li>
                <li><a href="contact.html">联系</a></li>
            </ul>
        </div>

    </div>
    <div class="banner row">
        <div class="col-xs-12"></div>
    </div>
    <div class="main row">
        <div class="nav col-md-7 col-md-offset-1 col-xs-12">
            <ul>
                <li class="active"><a href="javascript:;">全部</a></li>
                <li><a href="javascript:;">零食点心</a></li>
                <li><a href="javascript:;">乳制品</a></li>
                <li><a href="javascript:;">汤羹</a></li>
                <li><a href="javascript:;">肉蛋类</a></li>
            </ul>
        </div>
        <div class="col-md-4 col-xs-12">
            <input type="text" placeholder="Search"><a><i class="fa fa-search"></i></a>
        </div>
    </div>
    <div class="content row">
        <div class="col-md-10 col-xs-offset-1">
            <ul class="row">
                <li class="col-md-3 col-xs-5 cont1">
                    <img src="../images/thumb01.jpg" title="手工法式甜点 法式西式糕点心">
                    <p title="手工法式甜点 法式西式糕点心">手工法式甜点 法式西式糕点心</p>
                </li>
                <li class="col-md-3 col-xs-5 cont1">
                    <img src="../images/thumb02.jpg" title="黄金椰丝球 2盒面包早餐糕点点心">
                    <p title="黄金椰丝球 2盒面包早餐糕点点心">黄金椰丝球 2盒面包早餐糕点点心</p>
                </li>
                <li class="col-md-3 col-xs-5 cont1">
                    <img src="../images/thumb03.jpg" title="工馅饼传统糕点心零食品小吃">
                    <p title="工馅饼传统糕点心零食品小吃">工馅饼传统糕点心零食品小吃</p>
                </li>
                <li class="col-md-3 col-xs-5 cont1">
                    <img src="../images/thumb04.jpg" title="红豆味夹心麻薯210g 台式点心糕点零食">
                    <p title="红豆味夹心麻薯210g 台式点心糕点零食">红豆味夹心麻薯210g 台式点心糕点零食</p>
                </li>
                <li class="col-md-3 col-xs-5 cont2">
                    <img src="../images/thumb05.jpg" title="内蒙古特产牛奶酪 乳制品酸奶酥">
                    <p title="内蒙古特产牛奶酪 乳制品酸奶酥">内蒙古特产牛奶酪 乳制品酸奶酥</p>
                </li>
                <li class="col-md-3 col-xs-5 cont2">
                    <img src="../images/thumb06.jpg" title="香菇蔬菜汤多口味即食速溶汤">
                    <p title="香菇蔬菜汤多口味即食速溶汤">香菇蔬菜汤多口味即食速溶汤</p>
                </li>
                <li class="col-md-3 col-xs-5 cont3">
                    <img src="../images/thumb07.jpg" title="元气蛋肉丸肉蛋狗猫零食湿粮罐头">
                    <p title="元气蛋肉丸肉蛋狗猫零食湿粮罐头">元气蛋肉丸肉蛋狗猫零食湿粮罐头</p>
                </li>
                <li class="col-md-3 col-xs-5 cont4">
                    <img src="../images/thumb08.jpg" title="小猪奶黄包子冷冻早餐点心面包">
                    <p title="小猪奶黄包子冷冻早餐点心面包">小猪奶黄包子冷冻早餐点心面包</p>
                </li>
            </ul>
        </div>
    </div>
    <br class="hidden-sm hidden-xs">
    <br class="hidden-sm hidden-xs">
    <div class="bot row">
        <div class="col-xs-12">
            <div class="left"><p>Powered by MetInfo 5.3.10</p></div>
            <div class="right">
                <p>食品之家 版权所有 2008-2016 粤ICP备0123456789-1 </p>
                <i class="fa fa-weixin"><img src="../images/1422258610.jpg"> </i>
                <i class="fa fa-qq"></i>
                <i class="fa fa-weibo"></i>
            </div>
        </div>
    </div>
</div>

</body>
</html>